/* .marquee {
    position: relative;
    height: 400px;
    width: 100%;
    overflow-x: hidden;
  }
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 15s linear infinite;
    width: 180%;
  }
  .maylike-products-wrapper{
    margin-top: 120px;
  }
  .maylike-products-wrapper h2{
    text-align: center;
    margin: 50px;
    color: #324d67;
  
    font-size: 28px;
  }
  .maylike-products-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  .marquee-text{
    font-size: 29px;
    font-weight: 600;
    margin: 60px 0px;
    color: #f02d34;
  }
  .marquee {
    position: relative;
    height: 400px;
    width: 100%;
    overflow-x: hidden;
  }
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  .maylike-products-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  .track {
    animation: marquee 10s linear infinite;
    width: 550%;
  }
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 15s linear infinite;
    width: 180%;
  }
  .track:hover {
    animation-play-state: paused;
  }
  .maylike-products-wrapper{
    margin-top: 120px;
  }
  .maylike-products-wrapper h2{
    text-align: center;
    margin: 50px;
    color: #324d67;
  
    font-size: 28px;
  } */